title = "Minken"
url = "/"
layout = "default"
is_hidden = 0

[ProductList]
[MainSlider]
[CategoryList]
==
function onStart()
{
$this['id'] = $this->param('id');
}
==
<body>
  <section class="order container">
    <h1 class="image-slider swiper-title">Примеры наших работ</h1>
    <div class="image-slider swiper mySwiper container">
      <div class="image-slider swiper-wrapper">
        {% for i in MainSlider.getSlider() %}
        <div class="image-slider swiper-slide"><img src="{{i.image|media}}"></div>
        {% endfor %}
      </div>
      <div class="image-slider swiper-pagination"></div>
      <div class="image-slider swiper-button-next"></div>
      <div class="image-slider swiper-button-prev"></div>
    </div>
    <h1 class="recommendations-title">
      <span class="recommendations-title_text">Рекомендуемые</span>
    </h1>
    <div class="row products-category featured_carousel mod container">
     {% for i in ProductList.getlist() %}
      
      <div class="product-grid col-lg-12 col-md-12 col-sm-12 col-xs-3">
        <div class="product-thumb clearfix">
          <div class="image"><a href="/product/{{ i.slug }}" ><img src="{{i.images[0].url|media}}" alt=""
                title="" class="img-responsive"></a></div>
          <div class="caption">
            <h4><a>{{i.title}}</a>
            </h4>
            <h4><a>{{i.description}}</a>
            </h4>
            <!--<p>Идеальным решением для завершения образа станет шляпа Федора, изготовленная из 100% шерстяного фетра..</p>-->
            <p class="price">
              {{i.price}}р </p>
          </div>
          <!-- <div class="button-group">
            <button class="btn-primary" type="button" onclick="cart.add('685');"><span>В корзину</span></button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="" onclick="wishlist.add('685');"
                data-original-title="В закладки"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="" onclick="compare.add('685');"
                data-original-title="В сравнение"><i class="fa fa-exchange"></i></button>
            </div>
          </div> -->
        </div>
      </div> 
      {% endfor %}
    </div>
  </section>
  <!-- <footer class="footer">
    <div class="footer__inner container">
      <div class="footer__items">
        <div class="footer__item">
          <h2 class="footer__title">Скидка 10% за подписку на наши новости</h2>
          <div class="formfield">
            <p class="formfield__wrap">
              <input class="formfield__input js-address" type="text" name="address" placeholder="Адрес доставки">
            <h5 class="formfield__text">Подписаться</h5>
            </p>
            <p class="formfield__placeholder-visible">
              Нажимая кнопку “Подписаться”, Вы соглашаетесь с <ins>политикой конфиденциальности</ins>
            </p>
          </div>
        </div>
        <div class="footer__item-references">
          <a class="footer__item-reference">Каталог</a>
          <a class="footer__item-reference">Оплата и доставка</a>
          <a class="footer__item-reference">Telegramm</a>
          <a class="footer__item-reference">О компании</a>
          <a class="footer__item-reference">Условия возврата</a>
          <a class="footer__item-reference">WhatsApp</a>
          <a class="footer__item-reference">Магазины</a>
          <a class="footer__item-reference">Бонусная система</a>
          <a class="footer__item-reference">Youtube</a>
          <a class="footer__item-reference">Новости</a>
          <a class="footer__item-reference">Подарочный сертификат</a>
          <a class="footer__item-reference">VK</a>
        </div>
      </div>
      <div class="footer__item-info">
        <div class="footer__item-info_text">© All rights reserved</div>
        <div class="footer__item-info_text">Публичная оферта</div>
        <div class="footer__item-info_text">Политика конфиденциальности</div>
        <div class="footer__item-info_text"> Сделано в студии <span class="footer__item-info_icon"></span> 5 углов</div>
      </div>
    </div>
  </footer> -->
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&width=100&amp;" type="text/javascript"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      speed: 500,
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      keyboard: true,
      loop: true,
      simulateTouch: false,
      grabCursor: true,
      touchRatio: 2,
      touchAngle: 45,
      autoplay: {
        delay: 3000,
      },
    });
  </script>

</body>