title = "Minken"
url = "/"
layout = "default"
is_hidden = 0

[ProductList]
[MainSlider]
[CategoryList]
==
function onStart()
{
$this['id'] = $this->param('id');
}
==

<body>
  <section class="order container">
    <h1 class="image-slider swiper-title">Примеры наших работ</h1>
    <div class="image-slider swiper mySwiper container">
      <div class="image-slider swiper-wrapper">
        {% for i in MainSlider.getSlider() %}
        <div class="image-slider swiper-slide">
            <img src="{{i.image|media}}">
        </div>
        {% endfor %}
      </div>
      <div class="image-slider swiper-pagination"></div>
      <div class="image-slider swiper-button-next"></div>
      <div class="image-slider swiper-button-prev"></div>
    </div>
    <h1 class="recommendations-title">
      <span class="recommendations-title_text">Рекомендуемые</span>
    </h1>
    <div class="row products-category featured_carousel mod container">
      {% for i in ProductList.getlist()[:3] %}
      <div class="product-grid col-lg-12 col-md-12 col-sm-12 col-xs-3">
        <div class="product-thumb clearfix">
          <div class="image"><a href="/product/{{ i.slug }}"><img src="{{i.images[0].url|media}}" alt="" title=""
                class="img-responsive"></a></div>
          <div class="caption">
            <h4><a>{{i.title}}</a>
            </h4>
            <!--<p>Идеальным решением для завершения образа станет шляпа Федора, изготовленная из 100% шерстяного фетра..</p>-->
            <p class="price">
              {{i.price}}р </p>
          </div>
          <!-- <div class="button-group">
            <button class="btn-primary" type="button" onclick="cart.add('685');"><span>В корзину</span></button>
            <div class="add-to-links">
              <button type="button" data-toggle="tooltip" title="" onclick="wishlist.add('685');"
                data-original-title="В закладки"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="" onclick="compare.add('685');"
                data-original-title="В сравнение"><i class="fa fa-exchange"></i></button>
            </div>
          </div> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      speed: 500,
      effect: "fade",
      autoplay: {
        delay: 2500,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      loop: true,
      simulateTouch: false,
      grabCursor: true,
      touchRatio: 2,
      touchAngle: 45,
    });

  </script>

</body>