title = "Minken"
url = "/product/:slug"
layout = "default"
is_hidden = 0

[ProductList]
[CategoryList]
==
function onStart()
{
$this['slug'] = $this->param('slug');
}
==
{% set data = ProductList.getDetail(slug) %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
<section class="container">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__items">
            <li class="breadcrumbs__item"><a href="/">Главная</a></li>
            <li class="breadcrumbs__item active">Каталог</li>
        </ul>
    </div>
    <!-- <h1 class="image-slider swiper-title">Примеры наших работ</h1> -->
    <div class="row">
        <aside class="col-sm-3">
            <h3><span>Категории</span></h3>
            <div class="list-group">
                <ul class="list-item">
                    {% for category in CategoryList.getCategories() %}
                    <li><a href="/catalog/{{category.id}}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            <div itemscope="" itemtype="http://schema.org/Product">
                <h1 itemprop="name">{{ data.title }}</h1>
                <div class="row product-info">
                    <div class="col-sm-6">
                        <div class="thumbnails">
                            <div class="image">
                                <a href="" title="{{data.title}}">

                                    <img class="img-responsive" itemprop="image" src="{{ data.images[0].url|media }}"
                                        title="{{data.title}}" alt="">

                                </a>
                            </div>
                            <div class="image-additional">
                                {% for image in data.images %}
                                <a data-fancybox="gallery" data-src href="{{ image.url|media}}">
                                    <img src="{{ image.url|media }}">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled description">
                            <li><b>Код товара:</b> <span itemprop="mpn">{{data.title}} "{{data.code}}"</span></li>
                            <li><b>В наличии:</b> <span style="color:#53af2e; font-weight:bold;">{{ data.remains }}
                                    шт</span></li>
                        </ul>

                        <ul class="price-box">
                            <li class="price" itemprop="offers"><span
                                    class="real" itemprop="price">{{data.price}}.00 ₽</span><span itemprop="availability"
                                    content="На складе"></span></li>
                            <li></li>
                        </ul>
                        <div id="product">
                            <h3><span>Доступные опции</span></h3>
                            <div class="form-group">
                                <label class="control-label">Размеры:</label>
                                <div id="input-option2448">
                                    <div class="radio">
                                        {% for i in data.sizes %}
                                        <label>
                                            <input type="radio" name="option[2448]" value="7081">
                                            <span>{{i.size}}</span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="cart">
                                <div>
                                    <div class="qty">
                                        <label class="control-label" for="input-quantity">Кол-во</label>
                                        <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity"
                                            class="form-control">
                                        <a class="qtyBtn plus" href="javascript:void(0);">+</a>

                                        <input type="hidden" name="product_id" value="682">
                                        <div class="clear"></div>
                                    </div>
                                    <button type="button" id="button-cart" data-loading-text="Загрузка..."
                                        class="btn btn-primary btn-lg">В корзину</button>
                                </div>
                                <div>
                                    <button type="button" class="wishlist" onclick="wishlist.add('682');"><i
                                            class="fa fa-heart"></i> В закладки</button>
                                    <br>
                                    <button type="button" class="wishlist" onclick="compare.add('682');"><i
                                            class="fa fa-exchange"></i> В сравнение</button>
                                </div>
                            </div> -->
                        </div>
                        <hr>
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style"> <a
                                class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a> <a
                                class="addthis_button_google_plusone_share"></a> <a
                                class="addthis_button_pinterest_share"></a> <a class="addthis_button_compact"></a><a
                                class="addthis_counter addthis_bubble_style"></a> </div>
                        <script type="text/javascript"
                            src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514863386b357649"></script>
                        <!-- AddThis Button END -->
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description" itemprop="description">
                        {{data.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>