.header {
    width: 100%;
    border-bottom: 1px solid $Secondary-gray;
    padding: 26px 0px 25px 0px;
    margin-bottom: 50px;
    &__select {
        &-burger {
            display: none;
            position: relative;
            @media screen and (max-width: 540px) {
                display: block;
                padding-right: 40px;
                &::before {
                    position: absolute;
                    top: 8px;
                    font-family: icon;
                    content: "\e910";
                    font-size: 14px;
                    color: $Primary-black;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                &:hover::before {
                    color: $Primary-gray;
                }
            }
        }
    }
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 540px) {
            justify-content: center;
        }
    }

    &__nav {
        display: flex;
        gap: 40px;
        @media screen and (max-width: 640px) {
            gap: 20px;
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
        &-menu {
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            padding-bottom: 0px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

        }
        &-mobile {
            display: none;
             
            @media screen and (max-width: 540px) {
                display: flex;
                padding-bottom: 10px;
                gap: 10px; 
                justify-content: center;
            }
        }
    }

    &__logo {
        text-decoration: none;
        max-width: 180px;
    }

    &__info {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 640px) {
            flex-direction: column;
        }

        &-whatsApp {
            @media screen and (max-width: 640px) {
                /* display: none; */
            }
            &::before {
                font-family: icon;
                content: "\e90b";
                font-size: 25px;
                color: $green;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }

        &-telegramm {
            @media screen and (max-width: 540px) {
                /* display: none; */
            }
            &::before {
                font-family: icon;
                content: "\e90a";
                font-size: 25px;
                color: $blue;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }

        &-favorite {
            @media screen and (max-width: 540px) {
                display: none;
            }
            position: relative;

            &::before {
                font-family: icon;
                content: "\e903";
                font-size: 20px;
                color: $Primary-black;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            &::after {
                @extend %numbers;
                content: "";
            }

            &:hover::before {
                color: $Primary-gray;
            }

            &__count {
                @extend %count;
            }
        }
        &-number {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &::before {
                font-family: icon;
                content: "\e90c";
                font-size: 15px;
                color: $Primary-black;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before {
                color: $Primary-gray;
            }
            &:hover {
                color: $Primary-gray;
            }
        }
        &-email {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &::before {
                font-family: icon;
                content: "\e90d";
                font-size: 15px;
                color: $Primary-black;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before {
                color: $Primary-gray;
            }
            &:hover {
                color: $Primary-gray;
            }
        }
        &-cart {
            position: relative;
            &::before {
                font-family: icon;
                content: "\e902";
                font-size: 20px;
                color: $Primary-black;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                @media screen and (max-width: 540px) {
                    font-size: 28px;
                }
            }

            &::after {
                @extend %numbers;
                content: "";
                @media screen and (max-width: 540px) {
                    display: none;
                }
            }

            &:hover::before {
                color: $Primary-gray;
            }

            &__count {
                @extend %count;
                @media screen and (max-width: 540px) {
                    display: none;
                }
            }
           
        }
        &-wrapper {
            @media screen and (max-width: 540px) {
                gap: 10px;
                flex-direction: column;
                margin: 0 auto;
            }
            gap: 15px;
            display: flex;
        }
    }
}
