//Black
$Primary-black: #000000;
$Secondary-black: #444444;
//Gray 
$Primary-gray: #6E6E6E;
$Secondary-gray: #C8C8C8;
$Tertiary-gray: #F1F1F1;
//White 
$white: #ffffff;
//Blue 
$blue: #24ade4;
//Red
$red: #D92C2C;
//Green
$green: #007E06;
//Blue
$blue: #106DA1;
//Brown
$brown: #AE6D0C; 
