title = "Minken"
url = "/catalog/:id?"
layout = "default"
is_hidden = 0

[ProductList]
[CategoryList]
==
function onStart()
{
$this['id'] = $this->param('id');
}
==
<section class="container">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__items">
            <li class="breadcrumbs__item"><a href="/">Главная</a></li>
            <span class="breadcrumbs__item active"> Каталог</span>
        </ul>
    </div>
    <!-- <h1 class="image-slider swiper-title">Примеры наших работ</h1> -->
    <div class="row">
        <aside class="col-sm-3">
            <h3><span>Категории</span></h3>
            <div class="list-group">
                <ul class="list-item">
                    {% for category in CategoryList.getCategories() %}
                    <li><a href="/catalog/{{category.id}}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            <div class="row">
                {% for i in ProductList.getByCategory(id) %}
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
                    <div id="detailed" class="product-layout product-grid product-detailed">
                        <div class="product-thumb">
                            <div class="image"><a href="/product/{{ i.slug }}">
                                    <img src="{{i.images[0].url|media}}" title="" class="img-responsive"></a>
                            </div>
                            <div>
                                <div class="caption">
                                    <h4><a href="">{{i.title}}</a></h4>
                                    <p class="description"></p>
                                    <p class="price"> {{i.price}} ₽</p>
                                </div>
                                <!-- <div class="button-group">
                                    <button class="btn-primary" type="button" onclick="cart.add('680', '1');">
                                        <span>В корзину</span></button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title=""
                                            onclick="wishlist.add('680');" data-original-title="В закладки"><i
                                                class="fa fa-heart"></i> <span>В закладки</span></button>
                                        <button type="button" data-toggle="tooltip" title=""
                                            onclick="compare.add('680');" data-original-title="В сравнение"><i
                                                class="fa fa-exchange"></i> <span>В сравнение</span></button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-12">
                <p>Цельномеховые головные уборы и норковые ободки – воплощение роскоши и элегантности. Используя только
                    высококачественный мех, наше производство создает неповторимые модели, подчеркивающие
                    индивидуальность каждого покупателя. Сочетайте их с любым образом и наслаждайтесь уютом и теплом в
                    холодную погоду. Выбирайте цельномеховые головные уборы и норковые ободки от нашей компании и
                    ощутите непревзойденное качество и стиль!</p>

            </div>
        </div>
    </div>
</section>