==
function onStart()
{
$this['backendUrl'] = Backend::url('/');
}
==
<div class="header">
    <div class="header__inner container">
        <div class="header-row">
            <a href="/">
                <img src="{{ 'assets/images/лэйбл для колпака.jpg'|theme }}" class="header__logo" alt="">
            </a>
            <!-- <div class="header__logo"></div> -->
            <div class="header__nav">
                <a class="header__nav-menu" href="/catalog">Каталог</a>
                <a class="header__nav-menu" href="#">О компании</a>
                <a class="header__nav-menu" href="#">Магазины</a>
            </div>
        </div>
        <div class="header__info">
            <a href="mailto:denis-nechkin@yandex.ru" class="header__info-email">denis-nechkin@yandex.ru</a>
            <a href="tel:+79184943020" class="header__info-number">+7(918)4943020</a>
            <a target="_blank" href="https://wa.me/89184943020?text=Здравствуйте, хочу оформить заказ"
                class="header__info-whatsApp"></a>
            <a target="_blank" href="https://web-telegram.ru/#911160145" class="header__info-telegramm"></a>
            <!--   <div class="header__select-favorite">
          <div class="header__select-cart__count">4</div>
        </div>
        <div class="header__select-cart">
          <div class="header__select-cart__count">8</div>
        </div> -->
            <div class="header__info-burger">
            </div>
        </div>
    </div>
</div>