.recommendations {
    &-title {
        margin: 0 0 20px;
        line-height: normal;
        border-bottom: 1px solid $Primary-black;
        color: #000;

        &_text {
            border-bottom: 4px solid $Secondary-gray;
            display: inline-block;
            padding-right: 5px;
            padding-bottom: 3px;
            margin-bottom: -3px;
        }
    }
}
