.recommendations {
    &-title {
        border-bottom: 1px solid $Primary-black;
        padding-bottom: 10px;
        &_text {
            max-width: 300px;
            width: 100%;
            position: relative;


            &::after {
                width: 100%;
                position: absolute;
                content: '';
                bottom: -13px;
                border-bottom: 4px solid $Secondary-gray;
                border-radius: 2px;
                display: block;
            }
        }
    }
}

.caption {
    display: grid;
    grid-template-rows: 20px;
}
